@import '_variables';
body, html {
	margin:0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-color: rgba(0,0,0,1);
}
#box {
	position: absolute;
   	left: 50%;
   	top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	width: 200px;
	height: 200px;

	background-color: $box-clr;
	z-index: 9999;
}
canvas {
	/* z-index: 9999;*/
}